.script {
    font-size: 0.9em;
    padding: 1px 4px 3px;
    border-radius: 4px;
    margin: 2px;
    color: white;
}

.opcode {
    background: #515151;
}

.signature {
    color: black;
    background: orange;
}

.publickey {
    background: #398cff;
}

.publickeyhash {
    background: #bc2181;
}
